<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href={~p"/assets/iframe.css"} />
  </head>

  <body class="iframe">
    {@inner_content}
    <script src={~p"/assets/iframe.js"}>
    </script>
  </body>
</html>
